{% extends "base.html" %}

{% block title %}Event Page{% endblock %}

{% block content %}
    <h1>{{ event.title }}</h1>

    <p>{{ event.description }}</p>

    <ul>
        {% for necessity in event.getNecessities() %}
        <li>{{ necessity.name }}</li>
        {% endfor %}
    </ul>


    <form method="POST" action="/necessity/add">
        <label for="name">Item Name</label>
        <input type="text" name="name" id="name">
        <input type="hidden" name="eventId" value="{{ event.id }}">
        <input type="submit" value="Add">
    </form>


    <a href="/">Back to home</a>
{% endblock %}
