{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <h1>Welcome {{ user.getName() }}!</h1>

    <ul>
    {% for event in events %}
        <li>{{ event.title }}</li>
    {% endfor %}
    </ul>

    <button id="create-event">Create Event</button>

    {% block scripts %}
    <script>
        jQuery( function() {
            jQuery("#create-event").on('click', function() {
               console.log("Create");

                jQuery("#create-event").innerHTML = 'Loading';

                const Http = new XMLHttpRequest();
                const url = 'http://localhost:8080/api/events/';
                Http.open("POST", url);
                Http.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                Http.send("title=New Event&description=Description&category=Test&name=Robin&startDate=20-12-2022&endDate=27-12-2022");

                Http.onreadystatechange = () => console.log(Http.responseText);
            });
        })
    </script>
    {% endblock %}
{% endblock %}
